{% extends 'base.html' %}

{% block main_content %}

    <h2>Активные пользователи</h2>

    <div class="action-panel horizontal">
        <a id="js-createuser" href="#">Добавить пользователя</a>
        <a class="button" id="js-opendialog">Удалить пользователя</a>
    </div>

    <table class="table table-hover">
        <tr>
            <th>Login</th>
            <th>Имя пользователя</th>
            <th>Описание</th>
            <th>Дата последней активности штамп времени</th>
            <th>DN</th>
        </tr>
        {% for account in object_list %}
{#            <tr onclick="window.location='{% url 'account_detail' account.sAMAccountName %}'">#}
            <tr>

{#                <td><a href="{% url 'account_detail' account.id %}">{{ account.sAMAccountName }}</a></td>#}
                <td>{{ account.sAMAccountName }}</td>
                <td>{{ account.displayName }}</td>
                <td>{{ account.userAccountControl }}</td>
{#                <td>{{ account.lastLogonTimestamp|date:'d.m.Y H:i' }}</td>#}
                <td>{{ account.lastLogonTimestamp}}</td>
                <td>{{ account.distinguishedName }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
{#{% block modals %}#}
{#    <div class="background-dialog" id="dialog">#}
{#        <div class="dialog-content">#}
{#            <div class="dialog-title">#}
{#                <span>Заголовок диалога</span>#}
{#                <a id="js-closedialog" class="dialog-close">#}
{#                    <i class="far fa-times-thin fa-2x"></i>#}
{#                </a>#}
{#            </div>#}
{#            <div class="dialog-body">#}
{#                Вы действительно хотите удалить эту запись?#}
{#            </div>#}
{#            <div class="dialog-buttons">#}
{#                Пока не знаю#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
