{% extends 'base.html' %}

{% load bills_filters humanize %}

{% block main_content %}

    {#    {% if products.paginator.page_range|length > 1 %}#}
    {#        <div class="row">#}
    {#            <div class="col col--12-of-12">#}
    {#                {% include "templatetags/pagination.html" with items=products %}#}
    {#            </div>#}
    {#        </div>#}
    {#    {% endif %}#}

    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a href="/bills?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="/bills?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    <table class="table table-hover">
        <tr>
            <th>№</th>
            <th>Период</th>
            <th>Счет</th>
            <th>Категория</th>
            <th>Дата создания</th>
            <th>Поставщик</th>
            <th>Покупатель</th>
            <th>Сумма</th>
            <th>Оплачен</th>
        </tr>
        {% for bill in object_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ bill.period|date:'F' }}</td>
                <td><a href="{% url 'bill_detail' bill.id %}">{{ bill }}</a></td>
                <td>{{ bill.category }}</td>
                <td>{{ bill.created_at|date:'d.m.Y H:i' }}</td>
                <td>{{ bill.contract.seller }}</td>
                <td>{{ bill.buyer }}</td>
                <td>{{ bill.sum|floatformat:2|intcomma }}</td>
                <td>{{ bill.paid }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}