{% extends 'base.html' %}

{% load bills_filters humanize %}

{% block main_content %}
    <a href="{% url 'bill_list' %}" class="btn btn-primary">Назад</a>
    <h3>Счет №: {{ object.name }}</h3>
    <p>{{ object.contract}}</p>
    <p>Продавец: {{ object.contract.seller }}</p>
    <p>Покупатель: {{ object.buyer }}</p>
    <p>Период: {{ object.period|date:'F' }}</p>
    {% if object.payment_application_1c %}
        <p>
            Заявка 1С: {{ object.payment_application_1c }}
        </p>
    {% endif %}

    <table class="table table-hover">
        {% for row in object.services %}
            <tr>
                <td>{{ forloop.counter }}</td>
                {% for foo in row %}
                    <td>{{ foo|intcomma }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <p>Сумма: {{ object.sum }}</p>
{% endblock %}