<style>
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border-collapse: collapse !important;
    }
    .table-hover tbody tr:hover {
        background-color: rgba(0, 0, 0, 0.075);
    }
</style>


<p>Заявка {{ bill.payment_application_1c }} создана</p>
<table class="table table-hover"
       style="width: 100%; max-width: 100%; margin-bottom: 1rem; background-color: transparent;
                border-collapse: collapse !important;"
>
    <tr>
        <td>Категория<td>
        <td>{{ bill.category }}</td>
    </tr>
    <tr>
        <td>Поставщик<td>
        <td>{{ bill.contract.seller }}</td>
    </tr>
    <tr>
        <td>Номер счета<td>
        <td>{{ bill.name }}</td>
    </tr>
    <tr>
        <td>Период<td>
        <td>{{ bill.period|date:'F Y' }}</td>
    </tr>
    <tr>
        <td>Планируемая дата расхода<td>
        <td>{{ bill.payment_date|date:'d.m.Y' }}</td>
    </tr>
    <tr>
        <td>Заявка в 1с<td>
        <td>{{ bill.payment_application_1c }}</td>
    </tr>
    <tr>
        <td>Сумма<td>
        <td>{{ bill.sum }}</td>
    </tr>
    <tr>
        <td>Услуги<td>
        <td>
            {% for service in bill.services %}
            {{ forloop.counter }} {% for item in service %}{{ item }} {% endfor %}<br>
            {% endfor %}
        </td>
    </tr>
</table>