{% extends 'base.html' %}

{% block main_content %}


    <table class="table table-hover">
        <tr>
            <th>Штамп времени</th>
            <th>Папка</th>
            <th>Размер</th>
        </tr>
        {% for folder in object_list %}
            <tr>
                <td>{{ folder.timestamp|date:'d.m.Y H:i:s' }}</td>
                <td>{{ folder.folder.name }}</td>
                <td>{{ folder.size }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

