{% extends 'base.html' %}
{% load  %}

{% block main_content %}
    <h2>Использование дискового пространства</h2>

    <table class="table table-hover">
        <tr>
{#            <th>Штамп времени</th>#}
            <th>Сетевой ресурс</th>
            <th>Имя</th>
            <th>Комментарий</th>
        </tr>
        {% for share_resource in object_list %}
            <tr>
{#                <td>{{ folder.timestamp|date:'d.m.Y H:i:s'  }}</td>#}
                <td>{{ share_resource.server }}</td>
                <td><a href="{% url 'folder_detail' share_resource.server share_resource.name %}">{{ share_resource.name }}</a></td>
                <td>{{ share_resource.comment }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

