@import "abstracts/variables"


.wrapper
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: 1fr 100%
  grid-gap: $gutter


html, body
  font-size: $font-size-base
  line-height: $line-weight-base
  font-family: $font-family-primary

a
  display: block
  padding: $gutter/2

ul
  list-style: none
  padding-left: $gutter

.header
  display: grid
  grid-column: span 12
  background-color: $color-primary
  //margin-bottom: $gutter
  grid-template-columns: repeat(12, 1fr)


.header-logo
  grid-column: span 2
  img
    width: 100%

.menu
  grid-column: span 2
  border-right: 1px solid $color-primary


.content
  grid-column: span 10

.footer
  grid-column: span 12

.fa-times-thin:before
  content: '\00d7'
