@charset "UTF-8";
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 100%;
  grid-gap: 10px; }

html, body {
  font-size: 14px;
  line-height: 1.1;
  font-family: "Noto Sans", "Roboto", Ubuntu, Arial, serif; }

a {
  display: block;
  padding: 5px; }

ul {
  list-style: none;
  padding-left: 10px; }

.header {
  display: grid;
  grid-column: span 12;
  background-color: #2b4391;
  grid-template-columns: repeat(12, 1fr); }

.header-logo {
  grid-column: span 2; }
  .header-logo img {
    width: 100%; }

.menu {
  grid-column: span 2;
  border-right: 1px solid #2b4391; }

.content {
  grid-column: span 10; }

.footer {
  grid-column: span 12; }

.fa-times-thin:before {
  content: "×"; }

.sa-table > tr {
  cursor: pointer; }

.menu-wrapper {
  border-right: 1px solid #2b4391;
  margin-right: 10px; }

.action-panel {
  background-color: #efefef;
  padding: 5px;
  margin-bottom: 10px; }
  .action-panel.horizontal > a {
    display: inline-block;
    color: #000; }

.background-dialog {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.dialog-content {
  height: 200px;
  width: 200px;
  background-color: #efefef; }

.dialog-title {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center; }

.dialog-close {
  cursor: pointer; }

.btn {
  padding: 5px 10px; }
  .btn-primary {
    background: #2b4391;
    border-radius: 5px;
    margin-bottom: 10px; }

.container__header {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
