@import "../abstracts/variables"

.background-dialog
  width: 100%
  min-height: 100%
  background-color: rgba(0,0,0,0.5)
  overflow: hidden
  position: fixed
  top: 0
  display: flex
  justify-content: center
  align-items: center


.dialog-content
  height: 200px
  width: 200px
  background-color: $color-background-light

.dialog-title
  display: flex
  justify-content: center
  padding: $gutter
  align-items: center

.dialog-close
  cursor: pointer
