@import '../abstracts/variables'

.action-panel
  background-color: $color-background-light
  padding: $gutter/2
  margin-bottom: $gutter
  &.horizontal
    >a
      display: inline-block
      color: $color-text