<div>
    <ul>
        <li><a href="{% url 'account_list' %}">Включенные пользователи</a></li>
        <li><a href="{% url 'folder_list' %}">Использование пространства</a></li>
        <li><a href="{% url 'parse_xls' %}">Парсинг excel</a></li>
        <li><a href="{% url 'bill_list' %}">Счета</a></li>
    </ul>
</div>