{% extends 'base.html' %}
{% load static %}

{% block head %}
{##}
    {{ block.super }}

<link rel="stylesheet" type="text/css" media="screen" href="https://cdn.conversejs.org/css/converse.min.css">
<script src="https://cdn.conversejs.org/dist/converse.min.js" charset="utf-8"></script>

{#<script#}
{#        src="https://code.jquery.com/jquery-3.3.1.min.js"#}
{#        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="#}
{#        crossorigin="anonymous">#}
{##}
{#</script>#}
{##}
{#<script#}
{#        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"#}
{#        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="#}
{#        crossorigin="anonymous">#}
{##}
{#</script>#}
{#<script src="{% static 'jsxc/lib/jquery.fullscreen.js' %}"></script>#}
{#<script src="{% static 'jsxc/lib/jquery.slimscroll.js' %}"></script>#}
{#<script src="{% static 'jsxc/lib/jsxc.dep.js' %}"></script>#}
{#<script src="{% static 'jsxc/jsxc.js' %}"></script>#}
{##}
{##}
{#<script src="{% static 'jsxc/js/jsxc.kanzburo.js' %}"></script>#}
{##}
{#<!-- Stylesheets -->#}
{#<link href="{% static 'jsxc/css/jquery-ui.min.css'%}" media="all" rel="stylesheet" type="text/css"#}
{#<link href="{% static 'jsxc/css/jsxc.css'%}"  media="all" rel="stylesheet" type="text/css"#}
{##}
{#<link href="jsxc.example/css/jsxc.example.css" media="all" rel="stylesheet" type="text/css" />#}

{% endblock %}


{% block main_content %}
{#    <script>#}
{#    converse.initialize({#}
{#        bosh_service_url: 'http://192.168.10.6:5280/http-bind/', // Please use this connection manager only for testing purposes#}
{#        view_mode: 'fullscreen'#}
{#    });#}
{#</script>#}

    <script>
    converse.initialize({
        bosh_service_url: 'http://192.168.10.6:5280/http-bind/', // Please use this connection manager only for testing purposes
        show_controlbox_by_default: true
    });
</script>
{#{% load xmpp_tags %}#}
{#{% conversejs_initialize %}#}

{#<form id="form">#}
{#    <input type="text" id="username" />#}
{#    <input type="password" id="password" />#}
{#    <input type="submit" value="Submit" />#}
{#</form>#}
{##}
{#<button id="logout">Logout</button>#}


{% endblock %}
